[build]
  base    = "client"          # <-- change to your subfolder
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[context.production.environment]
  NODE_VERSION = "18"
